/* Default Style Sheet */
body {
    background-color: aquamarine;
    border: 2px;
    border-radius: 8px;
}
#console {
    background-color: black;
    font-family: monospace;
    color:chartreuse;
}

header {
    background-color: aqua;
    border: 1px;
    border-radius: 16px;
    padding: 4px;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.2),
             0 0  0 2px rgba(255,255,255,0.4),
             0.3em 0.3em 1em rgba(0,0,0,0.2);
}
#homebs {
    border: 1px;
    border-radius: 16px;
    text-decoration: none;
    color: black;
}
#homebs:link {
    border: 1px;
    border-radius: 16px;
    text-decoration: none;
    color:black;
}
#homebs:focus {
    text-decoration:none;
    color:brown;
}
#homebs:hover {
    text-decoration: none;
    color:aquamarine;
    text-shadow: 0 0 1em blue, 0 0 0.2em blue;
}